<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="angular-material/angular-material.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<script src="angular/angular.js" charset="utf-8"></script>
		<script src="angular-route/angular-route.js" charset="utf-8"></script>
		<script src="angular-sanitize/angular-sanitize.js" charset="utf-8"></script>
		<script src="angular-messages/angular-messages.js" charset="utf-8"></script>
		<script src="angular-animate/angular-animate.js" charset="utf-8"></script>
		<script src="angular-aria/angular-aria.js" charset="utf-8"></script>
		<script src="angular-material/angular-material.js" charset="utf-8"></script>
	</head>
	<body md-disable-scroll-target>
		<header ng-include="'partials/header.html'" ng-controller="portfoliosController" class="padding-lr-15" layout="row" layout-align="center"></header>

		<md-sidenav layout="column" class="md-sidenav-left" md-component-id="side-navigator">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools white">A Typical Topics!</h1>
			</md-toolbar>
			<div class="nav-links">
				<p class="nav-item"><a class="md-button md-ink-ripple" href="#welcome">Welcome</a></p>
				<p class="nav-item"><a class="md-button md-ink-ripple" href="#my-work">My Work</a></p>
				<p class="nav-item"><a class="md-button md-ink-ripple" href="#about-me">About Me</a></p>
				<p class="nav-item"><a class="md-button md-ink-ripple" href="#my-process">My Process</a></p>
				<p class="nav-item"><a class="md-button md-ink-ripple" href="#contact-me">Contact Me</a></p>
			</div>
		</md-sidenav>

		<main layout="row" ng-controller="portfoliosController">
			<aside flex="20" class="family-asap">
				<ul class="navbar">
					<li class="nav-item"><a href="#welcome">Welcome</a></li>
					<li class="nav-item"><a href="#my-work">My Work</a></li>
					<li class="nav-item"><a href="#about-me">About Me</a></li>
					<li class="nav-item"><a href="#my-process">My Process</a></li>
					<li class="nav-item"><a href="#contact-me">Contact Me</a></li>
				</ul>
			</aside>


			<section flex="auto" class="content-section family-varela">
				<section layout="column" id="welcome" class="padding-lr-15 welcome-section">
					<h3 class="section-title">Welcome</h3>
					<figure class="welcome-figure">
						<figcaption>I'm a typical dev! I like to spend copious amount of time in front of my computer  </figcaption>
						<h3 class="family-kumar" id="hi">Hi</h3>
					</figure>
				</section>

				<hr/>
				<md-divider></md-divider>

				<section layout="column" id="my-work" class="padding-lr-15 work-section scrollspy">
					<h3 class="section-title">My Work</h3>
					<figure>
						<h3 class="figure-placeholder family-kumar">Work</h3>
						<figcaption>Here is the basic description for the work section. This is where I will give a brief overview of my work and then link to my codepen and github accounts</figcaption>
					</figure>
					<div class="social-media-icons" layout="row" layout-align="space-around">
						<md-button class="md-raised" href="https://www.github.com/GikuyuNderitu" target="_blank">
							<i class="fa fa-github pointer"></i>
							<md-tooltip>Github</md-tooltip>
						</md-button>
						<md-button class="md-raised" href="https://www.codepen.io/GikuyuNderitu" target="_blank">
							<i class="fa fa-codepen pointer"></i>
							<md-tooltip>Code Pen</md-tooltip>
						</md-button>
						<md-button class="md-raised" ng-click="toggleDialog($event)">
							<i class="fa fa-file-pdf-o pointer"></i>
							<md-tooltip>Resume</md-tooltip>
						</md-button>
					</div>
				</section>

				<hr/>
				<md-divider></md-divider>


				<section layout="column" id="about-me" class="padding-lr-15 about-me-section">
					<h3 class="section-title">About Me</h3>
					<figure>
						<figcaption>Here's going to be some gabbledee gook about me, my personality and all the fun things I like to do. I have hobbies, tons of them! I like to go places, many of them! I like to experience and learn from SOOOOO many cultures.</figcaption>
						<h4 class="figure-placeholder family-kumar">ME</h4>
					</figure>
					<div class="social-media-icons" layout="row" layout-align="space-around">
						<md-button class="md-raised" href="https://www.facebook.com/D2-184687238314837" target="_blank">
							<i class="fa fa-facebook pointer"></i>
							<md-tooltip>Facebook</md-tooltip>
						</md-button>
						<md-button class="md-raised" href="https://twitter.com/D2theAcademik" target="_blank">
							<i class="fa fa-twitter pointer"></i>
							<md-tooltip>Twitter</md-tooltip>
						</md-button>
						<md-button class="md-raised" href="https://www.linkedin.com/in/gikuyunderitu/" target="_blank">
							<i class="fa fa-linkedin-square pointer"></i>
							<md-tooltip>LinkedIn</md-tooltip>
						</md-button>
					</div>
				</section>

				<hr/>
				<md-divider></md-divider>

				<section layout="column" id="my-process" class="padding-lr-15 my-process-section">
					<h3 class="section-title">My Process</h3>
					<figure>
						<figcaption></figcaption>
						<md-button ng-disabled="true" href="#!/myprocess" class="link">
							See More...
							<md-tooltip>Coming Soon</md-tooltip>
						</md-button>
					</figure>
				</section>

				<hr/>
				<md-divider></md-divider>

				<section layout="column" id="contact-me" class="padding-lr-15 contact-me-section">
					<h3 class="section-title">Contact A Typical Dev</h3>
					<div layout-align="space-between center" flex="50" id="contact-form-div" ng-controller="mailsController">
						<div layout="row">
							<md-input-container flex="100">
								<label for="name">Name</label>
								<input id="name" type="text" ng-model="mail.name"/>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label for="name">Email</label>
								<input id="email" type="text" ng-model="mail.email" validate/>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label for="name">Subject</label>
								<md-select id="subject" ng-model="mail.subject">
									<md-option></md-option>
									<md-option value="Employment Inquiry">Employment Inquiry</md-option>
									<md-option value="Other">Other</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label for="message">Message</label>
								<textarea ng-model="mail.message" rows="3"></textarea>
							</md-input-container>
						</div>
						<button class="pointer submit-button waves-red waves-effect waves-ripple" ng-click="sendMail()">Contact Me!</button>
					</div>
					<noscript>
						<form class="row" id="contact-form" action="/contact" method="post">
							<div class="col s12 input-field">
								<input id="name" name="name" type="text"/>
								<label for="name">Name</label>
							</div>
							<div class="col s12 input-field">
								<input id="email" name="email" type="email" validate/>
								<label for="name">Email</label>
							</div>
							<div class="col s12 input-field">
								<input id="name" type="text"/>
								<label for="name">Name</label>
							</div>
							<label for="subject">Subject
								<select class="input-field" name="subject" id="subject">
									<option></option>
									<option>Employment Inquiry</option>
									<option>Other</option>
								</select>
							</label>
							<label class="flex-row" for="message">Message
								<textarea class="input-field" name="message"id="message"></textarea>
							</label>
							<input class="pointer submit-button waves-red waves-effect waves-ripple" type="submit" value="Contact Me!"/>
						</form>
					</noscript>
				</section>
			</section>
		</main>

		<footer></footer>
		<script src="assets/js/app.js" charset="utf-8"></script>
		<script src="assets/js/config/config.js" charset="utf-8"></script>
		<script src="assets/js/factories/portfolioFactory.js" charset="utf-8"></script>
		<script src="assets/js/services/mailService.js" charset="utf-8"></script>
		<script src="assets/js/controllers/portfoliosController.js" charset="utf-8"></script>
		<script src="assets/js/controllers/mailsController.js" charset="utf-8"></script>
	</body>
</html>
