<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
		<title>A Typical Dev</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="angular-material/angular-material.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<script src="angular/angular.js" charset="utf-8"></script>
		<script src="angular-route/angular-route.js" charset="utf-8"></script>
		<script src="angular-sanitize/angular-sanitize.js" charset="utf-8"></script>
		<script src="angular-messages/angular-messages.js" charset="utf-8"></script>
		<script src="angular-animate/angular-animate.js" charset="utf-8"></script>
		<script src="angular-aria/angular-aria.js" charset="utf-8"></script>
		<script src="angular-material/angular-material.js" charset="utf-8"></script>
	</head>
	<body md-disable-scroll-target>
		<header ng-include="'partials/header.html'" ng-controller="portfoliosController" class="padding-lr-15" layout="row" layout-align="center"></header>

		<md-sidenav layout="column" class="md-sidenav-left responsive-text-container" md-component-id="side-navigator">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools white">A Typical Topics!</h1>
			</md-toolbar>
			<div class="nav-links responsive-text-container" id="side-nav-links">
				<md-button ng-click="closeSideNav()" class="md-primary md-ink-ripple nav-item" href="#welcome">Welcome</md-button>
				<md-button ng-click="closeSideNav()" class="md-primary md-ink-ripple nav-item" href="#my-work">My Work</md-button>
				<md-button ng-click="closeSideNav()" class="md-primary md-ink-ripple nav-item" href="#about-me">About Me</md-button>
				<md-button ng-click="closeSideNav()" class="md-primary md-ink-ripple nav-item" href="#my-process">My Process</md-button>
				<!-- <md-button ng-click="closeSideNav()" class="md-primary md-ink-ripple nav-item" href="#contact-me">Contact Me</md-button> -->
			</div>
		</md-sidenav>

		<main layout="row" class="responsive-text-container" ng-controller="portfoliosController">
			<aside flex="20" class="family-asap relative">
				<ul class="navbar fixed fixed-centered">
					<li class="nav-item"><a href="#welcome">Welcome</a></li>
					<li class="nav-item"><a href="#my-work">My Work</a></li>
					<li class="nav-item"><a href="#about-me">About Me</a></li>
					<li class="nav-item"><a href="#my-process">My Process</a></li>
					<!-- <li class="nav-item"><a href="#contact-me">Contact Me</a></li> -->
				</ul>
			</aside>


			<section flex="auto" class="content-section family-varela">
				<section layout="column" id="welcome" class="padding-lr-15 welcome-section">
					<h3 class="section-title family-lobster">Welcome</h3>
					<figure layout 1class="welcome-figure">
						<figcaption flex="66">
							<p>
								I'm a typical dev! I like to spend copious amount of time in front of my computer codemonkey-ing it up and
								hours each week investing in my personal growth and understanding of the digital world in which we live.
							</p>
							<p>
								Journey with me and let's explore what I have to offer!
							</p>
						</figcaption>
						<h3 flex="auto" class="family-kumar" id="hi">Hi</h3>
					</figure>
				</section>

				<hr/>
				<md-divider></md-divider>

				<section layout="column" id="my-work" class="padding-lr-15 work-section scrollspy">
					<h3 class="section-title family-lobster">My Work</h3>
					<figure layout>
						<a flex="auto" href="https://www.github.com/gikuyunderitu">
							<img class="circular-img" src="assets/img/Gikuyu_github.png" alt="Link to Atypical Dev's github account">
						</a>
						<figcaption flex="66">
							<p>
								I'm not a wordy man, so I'll cut to the chase. I love to code. I just do!
								Throw a new technology in my face and I'll gobble it up! Give me a project to undertake, I'm all in! Let me, help you help you!
							</p>
						</figcaption>
					</figure>
					<div class="social-media-icons" layout="row" layout-align="space-around">
						<md-button class="md-raised md-primary" layout layout-align="center center" href="https://www.github.com/GikuyuNderitu" target="_blank">
							<i class="fa fa-github pointer"></i>
							<md-tooltip>Github</md-tooltip>
						</md-button>
						<md-button class="md-raised md-primary" layout layout-align="center center" href="https://www.codepen.io/GikuyuNderitu" target="_blank">
							<i class="fa fa-codepen pointer"></i>
							<md-tooltip>Code Pen</md-tooltip>
						</md-button>
						<md-button class="md-raised md-primary" layout layout-align="center center" ng-click="toggleDialog($event)">
							<i class="fa fa-file-pdf-o pointer"></i>
							<md-tooltip>Resume</md-tooltip>
						</md-button>
					</div>
				</section>

				<hr/>
				<md-divider></md-divider>


				<section layout="column" layout-align="space-around" id="about-me" class="padding-lr-15 about-me-section">
					<h3 class="section-title family-lobster">About Me</h3>
					<figure layout>
						<figcaption flex="66">
							Here's going to be some gabbledee gook about me, my personality and all the fun things I like to do.
							I have hobbies, tons of them! I like to go places, many of them!
							I like to experience and learn from SOOOOO many cultures.
						</figcaption>
						<img flex="auto" src="assets/img/my_profile.png" alt="Atypically devilishly handsome man stares into your soul." class="circular-img">
					</figure>
					<div class="social-media-icons" layout="row" layout-align="space-around">
						<md-button class="md-raised md-primary" layout layout-align="center center" href="https://www.facebook.com/D2-184687238314837" target="_blank">
							<i class="fa fa-facebook pointer"></i>
							<md-tooltip>Facebook</md-tooltip>
						</md-button>
						<md-button class="md-raised md-primary" layout layout-align="center center" href="https://twitter.com/D2theAcademik" target="_blank">
							<i class="fa fa-twitter pointer"></i>
							<md-tooltip>Twitter</md-tooltip>
						</md-button>
						<md-button class="md-raised md-primary" layout layout-align="center center" href="https://www.linkedin.com/in/gikuyunderitu/" target="_blank">
							<i class="fa fa-linkedin-square pointer"></i>
							<md-tooltip>LinkedIn</md-tooltip>
						</md-button>
					</div>
				</section>

				<hr/>
				<md-divider></md-divider>

				<section layout="column" id="my-process" class="padding-lr-15 my-process-section">
					<h3 class="section-title family-lobster">My Process</h3>
					<figure>
						<figcaption></figcaption>
						<md-button ng-disabled="true" href="#!/myprocess" class="link">
							See More...
							<md-tooltip>Coming Soon</md-tooltip>
						</md-button>
					</figure>
				</section>

				<!-- <hr/>
				<md-divider></md-divider>

				<section layout="column" id="contact-me" class="padding-lr-15 contact-me-section">
					<h3 class="section-title family-lobster">Contact A Typical Dev</h3>
					<div flex="50" id="contact-form-div" ng-controller="mailsController">
						<div layout="row">
							<md-input-container flex="100">
								<label for="name">Name</label>
								<input id="name" type="text" ng-model="mail.name"/>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label for="name">Email</label>
								<input id="email" type="text" ng-model="mail.email" validate/>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label for="name">Subject</label>
								<md-select id="subject" ng-model="mail.subject">
									<md-option></md-option>
									<md-option value="Employment Inquiry">Employment Inquiry</md-option>
									<md-option value="Other">Other</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex="100">
								<label for="message">Message</label>
								<textarea ng-model="mail.message" rows="3"></textarea>
							</md-input-container>
						</div>
						<div class="row" layout layout-align="center center">
							<md-button class="md-primary md-raised md-ink-ripple submit-button" ng-click="sendMail()">
								<i class="fa fa-pencil button-content white"></i>
								<span class="button-content white">Contact Me!</span>
							</md-button>
						</div>
					</div>
					<noscript>
						<form class="row" id="contact-form" action="/contact" method="post">
							<div class="col s12 input-field">
								<input id="name" name="name" type="text"/>
								<label for="name">Name</label>
							</div>
							<div class="col s12 input-field">
								<input id="email" name="email" type="email" validate/>
								<label for="name">Email</label>
							</div>
							<div class="col s12 input-field">
								<input id="name" type="text"/>
								<label for="name">Name</label>
							</div>
							<label for="subject">Subject
								<select class="input-field" name="subject" id="subject">
									<option></option>
									<option>Employment Inquiry</option>
									<option>Other</option>
								</select>
							</label>
							<label class="flex-row" for="message">Message
								<textarea class="input-field" name="message"id="message"></textarea>
							</label>
							<input class="pointer submit-button waves-red waves-effect waves-ripple" type="submit" value="Contact Me!"/>
						</form>
					</noscript>
				</section> -->
			</section>
		</main>

		<footer></footer>
		<script src="assets/js/app.js" charset="utf-8"></script>
		<script src="assets/js/config/config.js" charset="utf-8"></script>
		<script src="assets/js/factories/portfolioFactory.js" charset="utf-8"></script>
		<script src="assets/js/services/mailService.js" charset="utf-8"></script>
		<script src="assets/js/controllers/portfoliosController.js" charset="utf-8"></script>
		<script src="assets/js/controllers/mailsController.js" charset="utf-8"></script>
	</body>
</html>
